In [41]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('../../Posibles tablas/death-rate-by-cause-who-mdb.csv')

df

,Entity,Code,Year,"Age-standardized deaths that are from malignant neoplasms per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from cardiovascular diseases per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from respiratory infections per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from infectious and parasitic diseases per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from digestive diseases per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from unintentional injuries per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from intentional injuries per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from neuropsychiatric conditions per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from respiratory diseases per 100,000 people, in both sexes aged all ages"
0,Albania,ALB,1987,88.860980,331.37842,69.320970,13.346996,26.685045,20.186192,3.968410,15.738141,26.313232
1,Albania,ALB,1988,99.332530,333.62150,59.967080,11.110825,25.621843,21.611263,3.857150,15.147495,26.932293
2,Albania,ALB,1989,92.817200,339.13010,75.361850,15.654971,25.803211,23.080498,4.757231,16.810797,25.726141
3,Albania,ALB,1992,74.528990,289.65850,64.096940,9.986380,20.881680,28.329859,6.022823,16.140594,21.516480
4,Albania,ALB,1993,66.275505,264.37045,69.783660,13.130654,21.906736,31.997355,9.344987,22.926090,23.432169
...,...,...,...,...,...,...,...,...,...,...,...,...
4702,Venezuela,VEN,2012,98.584920,201.83017,21.126587,24.427929,25.068110,35.470535,36.055940,8.337194,23.721012
4703,Venezuela,VEN,2013,96.557110,196.01802,23.221132,23.704365,25.595743,34.102210,31.627296,8.256356,23.691648
4704,Venezuela,VEN,2014,98.284260,212.63083,25.174698,27.475836,27.808544,32.278560,32.315693,9.132934,26.519331
4705,Venezuela,VEN,2016,99.315125,224.29936,32.099160,36.230183,29.906110,28.925144,50.538990,14.213993,27.216429
4706,Venezuela,VEN,2015,96.911890,208.01509,27.281538,28.887978,25.773838,28.171406,38.241080,10.271980,26.790356

In [3]:
df2 = pd.read_csv('../../Posibles tablas/intervalos_edad_espaÃ±a.csv', encoding='latin-1')
df2

     Edad (grupos quinquenales);EspaÃ±oles/Extranjeros;Sexo;AÃ±o;Total
0        TOTAL EDADES;TOTAL;Ambos sexos;2022;47.475.420
1        TOTAL EDADES;TOTAL;Ambos sexos;2021;47.385.107
2        TOTAL EDADES;TOTAL;Ambos sexos;2020;47.450.795
3        TOTAL EDADES;TOTAL;Ambos sexos;2019;47.026.208
4        TOTAL EDADES;TOTAL;Ambos sexos;2018;46.722.980
...                                                 ...
4945        100 aÃ±os y mÃ¡s;Extranjeros;Mujeres;2002;199
4946        100 aÃ±os y mÃ¡s;Extranjeros;Mujeres;2001;276
4947        100 aÃ±os y mÃ¡s;Extranjeros;Mujeres;2000;239
4948        100 aÃ±os y mÃ¡s;Extranjeros;Mujeres;1999;189
4949         100 aÃ±os y mÃ¡s;Extranjeros;Mujeres;1998;46

[4950 rows x 1 columns]

In [39]:
df_3 = pd.read_csv('../../Posibles tablas/cause_of_deaths.csv')

df_3

,Country/Territory,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,...,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,...,2108,3709,338,2054,4154,5945,2673,5005,323,2985
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,...,2120,3724,351,2119,4472,6050,2728,5120,332,3092
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,...,2153,3776,386,2404,5106,6223,2830,5335,360,3325
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,...,2195,3862,425,2797,5681,6445,2943,5568,396,3601
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,...,2231,3932,451,3038,6001,6664,3027,5739,420,3816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6115,Zimbabwe,ZWE,2015,1439,754,215,3019,2518,770,1302,...,3176,2108,381,2990,2373,2751,1956,4202,632,146
6116,Zimbabwe,ZWE,2016,1457,767,219,3056,2050,801,1342,...,3259,2160,393,3027,2436,2788,1962,4264,648,146
6117,Zimbabwe,ZWE,2017,1460,781,223,2990,2116,818,1363,...,3313,2196,398,2962,2473,2818,2007,4342,654,144
6118,Zimbabwe,ZWE,2018,1450,795,227,2918,2088,825,1396,...,3381,2240,400,2890,2509,2849,2030,4377,657,139
6119,Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,1434,...,3460,2292,405,2855,2554,2891,2065,4437,662,136

In [4]:
df2_split = df2["Edad (grupos quinquenales);EspaÃ±oles/Extranjeros;Sexo;AÃ±o;Total"].str.split(";", expand=True)

# Asignar nombres de columnas a las nuevas columnas
nombres_columnas = ['age', 'spanish/foreign', 'sex', 'year', 'total']
df2_split.columns = nombres_columnas

# Reemplazar los nombres de las columnas antiguas con los nombres de las columnas correctos
df2 = pd.concat([df2, df2_split], axis=1)
df2.drop(columns=["Edad (grupos quinquenales);EspaÃ±oles/Extranjeros;Sexo;AÃ±o;Total"], inplace=True)

df2

                 age spanish/foreign          sex  year       total
0       TOTAL EDADES           TOTAL  Ambos sexos  2022  47.475.420
1       TOTAL EDADES           TOTAL  Ambos sexos  2021  47.385.107
2       TOTAL EDADES           TOTAL  Ambos sexos  2020  47.450.795
3       TOTAL EDADES           TOTAL  Ambos sexos  2019  47.026.208
4       TOTAL EDADES           TOTAL  Ambos sexos  2018  46.722.980
...              ...             ...          ...   ...         ...
4945  100 aÃ±os y mÃ¡s     Extranjeros      Mujeres  2002         199
4946  100 aÃ±os y mÃ¡s     Extranjeros      Mujeres  2001         276
4947  100 aÃ±os y mÃ¡s     Extranjeros      Mujeres  2000         239
4948  100 aÃ±os y mÃ¡s     Extranjeros      Mujeres  1999         189
4949  100 aÃ±os y mÃ¡s     Extranjeros      Mujeres  1998          46

[4950 rows x 5 columns]

In [5]:
df2.shape

(4950, 5)

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4950 entries, 0 to 4949
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              4950 non-null   object
 1   spanish/foreign  4950 non-null   object
 2   sex              4950 non-null   object
 3   year             4950 non-null   object
 4   total            4950 non-null   object
dtypes: object(5)
memory usage: 193.5+ KB

In [7]:
df2['total'] = df2['total'].str.replace('.', '')
df2['year'] = df2['year'].astype(int)
df2['total'] = df2['total'].astype(int)

In [8]:
df_2021 = df[df['Year']==2021]
df_2021.shape

(23, 12)

In [9]:
df_2020 = df[df['Year']==2020]
df_2020.shape

(57, 12)

In [10]:
df_2019 = df[df['Year']==2019]
df_2019.shape

(77, 12)

In [11]:
df_spain = df[(df['Entity']== 'Spain') & (df['Year']==2019)]
df_spain

,Entity,Code,Year,"Age-standardized deaths that are from malignant neoplasms per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from cardiovascular diseases per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from respiratory infections per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from infectious and parasitic diseases per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from digestive diseases per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from unintentional injuries per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from intentional injuries per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from neuropsychiatric conditions per 100,000 people, in both sexes aged all ages","Age-standardized deaths that are from respiratory diseases per 100,000 people, in both sexes aged all ages"
3963,Spain,ESP,2019,101.35696,77.61572,7.637719,5.071931,16.907635,11.360362,6.233921,30.55729,23.015043

In [42]:
df_3_spain_2019 = df_3[(df_3['Country/Territory']=='Spain') & (df_3['Year']==2019)]

df_3_spain_2019

,Country/Territory,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
5129,Spain,ESP,2019,155,29208,6137,467,0,425,335,15,679,728,378,131493,14184,483,429,3759,0,1213,59,125835,1,10135,14645,108,302,2570,36560,8218,23212,239,14

In [12]:
df2_2019 = df2[df2['year']==2019]
df2_2019.head(60)

               age spanish/foreign          sex  year     total
3     TOTAL EDADES           TOTAL  Ambos sexos  2019  47026208
28    TOTAL EDADES           TOTAL      Hombres  2019  23042428
53    TOTAL EDADES           TOTAL      Mujeres  2019  23983780
78    TOTAL EDADES       EspaÃ±oles  Ambos sexos  2019  41989330
103   TOTAL EDADES       EspaÃ±oles      Hombres  2019  20522283
128   TOTAL EDADES       EspaÃ±oles      Mujeres  2019  21467047
153   TOTAL EDADES     Extranjeros  Ambos sexos  2019   5036878
178   TOTAL EDADES     Extranjeros      Hombres  2019   2520145
203   TOTAL EDADES     Extranjeros      Mujeres  2019   2516733
228       0-4 aÃ±os           TOTAL  Ambos sexos  2019   2038663
253       0-4 aÃ±os           TOTAL      Hombres  2019   1048153
278       0-4 aÃ±os           TOTAL      Mujeres  2019    990510
303       0-4 aÃ±os       EspaÃ±oles  Ambos sexos  2019   1766625
328       0-4 aÃ±os       EspaÃ±oles      Hombres  2019    908191
353       0-4 aÃ±os       EspaÃ±oles      Mujeres  2019    858434
378       0-4 aÃ±os     Extranjeros  Ambos sexos  2019    272038
403       0-4 aÃ±os     Extranjeros      Hombres  2019    139962
428       0-4 aÃ±os     Extranjeros      Mujeres  2019    132076
453       5-9 aÃ±os           TOTAL  Ambos sexos  2019   2355494
478       5-9 aÃ±os           TOTAL      Hombres  2019   1211970
503       5-9 aÃ±os           TOTAL      Mujeres  2019   1143524
528       5-9 aÃ±os       EspaÃ±oles  Ambos sexos  2019   2101598
553       5-9 aÃ±os       EspaÃ±oles      Hombres  2019   1081741
578       5-9 aÃ±os       EspaÃ±oles      Mujeres  2019   1019857
603       5-9 aÃ±os     Extranjeros  Ambos sexos  2019    253896
628       5-9 aÃ±os     Extranjeros      Hombres  2019    130229
653       5-9 aÃ±os     Extranjeros      Mujeres  2019    123667
678     10-14 aÃ±os           TOTAL  Ambos sexos  2019   2491371
703     10-14 aÃ±os           TOTAL      Hombres  2019   1280031
728     10-14 aÃ±os           TOTAL      Mujeres  2019   1211340
753     10-14 aÃ±os       EspaÃ±oles  Ambos sexos  2019   2282696
778     10-14 aÃ±os       EspaÃ±oles      Hombres  2019   1172266
803     10-14 aÃ±os       EspaÃ±oles      Mujeres  2019   1110430
828     10-14 aÃ±os     Extranjeros  Ambos sexos  2019    208675
853     10-14 aÃ±os     Extranjeros      Hombres  2019    107765
878     10-14 aÃ±os     Extranjeros      Mujeres  2019    100910
903     15-19 aÃ±os           TOTAL  Ambos sexos  2019   2322446
928     15-19 aÃ±os           TOTAL      Hombres  2019   1195323
953     15-19 aÃ±os           TOTAL      Mujeres  2019   1127123
978     15-19 aÃ±os       EspaÃ±oles  Ambos sexos  2019   2091358
1003    15-19 aÃ±os       EspaÃ±oles      Hombres  2019   1072157
1028    15-19 aÃ±os       EspaÃ±oles      Mujeres  2019   1019201
1053    15-19 aÃ±os     Extranjeros  Ambos sexos  2019    231088
1078    15-19 aÃ±os     Extranjeros      Hombres  2019    123166
1103    15-19 aÃ±os     Extranjeros      Mujeres  2019    107922
1128    20-24 aÃ±os           TOTAL  Ambos sexos  2019   2305303
1153    20-24 aÃ±os           TOTAL      Hombres  2019   1177825
1178    20-24 aÃ±os           TOTAL      Mujeres  2019   1127478
1203    20-24 aÃ±os       EspaÃ±oles  Ambos sexos  2019   1956120
1228    20-24 aÃ±os       EspaÃ±oles      Hombres  2019   1004541
1253    20-24 aÃ±os       EspaÃ±oles      Mujeres  2019    951579
1278    20-24 aÃ±os     Extranjeros  Ambos sexos  2019    349183
1303    20-24 aÃ±os     Extranjeros      Hombres  2019    173284
1328    20-24 aÃ±os     Extranjeros      Mujeres  2019    175899
1353    25-29 aÃ±os           TOTAL  Ambos sexos  2019   2566361
1378    25-29 aÃ±os           TOTAL      Hombres  2019   1295737
1403    25-29 aÃ±os           TOTAL      Mujeres  2019   1270624
1428    25-29 aÃ±os       EspaÃ±oles  Ambos sexos  2019   2086053
1453    25-29 aÃ±os       EspaÃ±oles      Hombres  2019   1068385
1478    25-29 aÃ±os       EspaÃ±oles      Mujeres  2019   1017668

In [13]:
df2_2019 = df2_2019[(df2_2019['spanish/foreign']== 'TOTAL') & (df2_2019['sex']=='Ambos sexos')]
df2_2019

                 age spanish/foreign          sex  year     total
3       TOTAL EDADES           TOTAL  Ambos sexos  2019  47026208
228         0-4 aÃ±os           TOTAL  Ambos sexos  2019   2038663
453         5-9 aÃ±os           TOTAL  Ambos sexos  2019   2355494
678       10-14 aÃ±os           TOTAL  Ambos sexos  2019   2491371
903       15-19 aÃ±os           TOTAL  Ambos sexos  2019   2322446
1128      20-24 aÃ±os           TOTAL  Ambos sexos  2019   2305303
1353      25-29 aÃ±os           TOTAL  Ambos sexos  2019   2566361
1578      30-34 aÃ±os           TOTAL  Ambos sexos  2019   2860390
1803      35-39 aÃ±os           TOTAL  Ambos sexos  2019   3492600
2028      40-44 aÃ±os           TOTAL  Ambos sexos  2019   4013566
2253      45-49 aÃ±os           TOTAL  Ambos sexos  2019   3818921
2478      50-54 aÃ±os           TOTAL  Ambos sexos  2019   3637840
2703      55-59 aÃ±os           TOTAL  Ambos sexos  2019   3266949
2928      60-64 aÃ±os           TOTAL  Ambos sexos  2019   2799111
3153      65-69 aÃ±os           TOTAL  Ambos sexos  2019   2398795
3378      70-74 aÃ±os           TOTAL  Ambos sexos  2019   2175840
3603      75-79 aÃ±os           TOTAL  Ambos sexos  2019   1618039
3828      80-84 aÃ±os           TOTAL  Ambos sexos  2019   1353814
4053      85-89 aÃ±os           TOTAL  Ambos sexos  2019    975247
4278      90-94 aÃ±os           TOTAL  Ambos sexos  2019    415548
4503      95-99 aÃ±os           TOTAL  Ambos sexos  2019    103607
4728  100 aÃ±os y mÃ¡s           TOTAL  Ambos sexos  2019     16303

In [14]:
cadena_valores = "0-4 8.86 5-9 8.69 10-14 8.60 15-19 8.47 20-24 8.22 25-29 7.93 30-34 7.61 35-39 7.15 40-44 6.59 45-49 6.04 50-54 5.37 55-59 4.55 60-64 3.72 65-69 2.96 70-74 2.21 75-79 1.52 80-84 0.91 85-89 0.44 90-94 0.15 95-99 0.04"

# Divide la cadena de valores en una lista
valores = cadena_valores.split()

# Crea un diccionario
diccionario = {}

# Itera sobre los valores y agrÃ©galos al diccionario
for i in range(0, len(valores), 2):
    diccionario[valores[i]] = float(valores[i+1])
    
diccionario

{'0-4': 8.86,
 '5-9': 8.69,
 '10-14': 8.6,
 '15-19': 8.47,
 '20-24': 8.22,
 '25-29': 7.93,
 '30-34': 7.61,
 '35-39': 7.15,
 '40-44': 6.59,
 '45-49': 6.04,
 '50-54': 5.37,
 '55-59': 4.55,
 '60-64': 3.72,
 '65-69': 2.96,
 '70-74': 2.21,
 '75-79': 1.52,
 '80-84': 0.91,
 '85-89': 0.44,
 '90-94': 0.15,
 '95-99': 0.04}

In [23]:
diccionario = {
 'TOTAL EDADES': 1,
 '0-4': 8.86,
 '5-9': 8.69,
 '10-14': 8.6,
 '15-19': 8.47,
 '20-24': 8.22,
 '25-29': 7.93,
 '30-34': 7.61,
 '35-39': 7.15,
 '40-44': 6.59,
 '45-49': 6.04,
 '50-54': 5.37,
 '55-59': 4.55,
 '60-64': 3.72,
 '65-69': 2.96,
 '70-74': 2.21,
 '75-79': 1.52,
 '80-84': 0.91,
 '85-89': 0.44,
 '90-94': 0.15,
 '95-99': 0.04,
 '100 y mÃ¡s': 1}

In [27]:
df_tasa = pd.DataFrame(list(diccionario.items()), columns=['age', 'tasa'])
df_tasa

             age  tasa
0   TOTAL EDADES  1.00
1            0-4  8.86
2            5-9  8.69
3          10-14  8.60
4          15-19  8.47
5          20-24  8.22
6          25-29  7.93
7          30-34  7.61
8          35-39  7.15
9          40-44  6.59
10         45-49  6.04
11         50-54  5.37
12         55-59  4.55
13         60-64  3.72
14         65-69  2.96
15         70-74  2.21
16         75-79  1.52
17         80-84  0.91
18         85-89  0.44
19         90-94  0.15
20         95-99  0.04
21     100 y mÃ¡s  1.00

In [36]:
df2_2019['age'] = df2_2019['age'].str.replace('aÃ±os','')

df2_2019 = df2_2019.reset_index(drop=True)

df2_2019

             age spanish/foreign          sex  year     total
0   TOTAL EDADES           TOTAL  Ambos sexos  2019  47026208
1           0-4            TOTAL  Ambos sexos  2019   2038663
2           5-9            TOTAL  Ambos sexos  2019   2355494
3         10-14            TOTAL  Ambos sexos  2019   2491371
4         15-19            TOTAL  Ambos sexos  2019   2322446
5         20-24            TOTAL  Ambos sexos  2019   2305303
6         25-29            TOTAL  Ambos sexos  2019   2566361
7         30-34            TOTAL  Ambos sexos  2019   2860390
8         35-39            TOTAL  Ambos sexos  2019   3492600
9         40-44            TOTAL  Ambos sexos  2019   4013566
10        45-49            TOTAL  Ambos sexos  2019   3818921
11        50-54            TOTAL  Ambos sexos  2019   3637840
12        55-59            TOTAL  Ambos sexos  2019   3266949
13        60-64            TOTAL  Ambos sexos  2019   2799111
14        65-69            TOTAL  Ambos sexos  2019   2398795
15        70-74            TOTAL  Ambos sexos  2019   2175840
16        75-79            TOTAL  Ambos sexos  2019   1618039
17        80-84            TOTAL  Ambos sexos  2019   1353814
18        85-89            TOTAL  Ambos sexos  2019    975247
19        90-94            TOTAL  Ambos sexos  2019    415548
20        95-99            TOTAL  Ambos sexos  2019    103607
21    100  y mÃ¡s           TOTAL  Ambos sexos  2019     16303

In [37]:
df2_2019_tasa  = pd.concat([df2_2019, df_tasa], axis=1)

df2_2019_tasa

,age,spanish/foreign,sex,year,total,age,tasa
0,TOTAL EDADES,TOTAL,Ambos sexos,2019,47026208,TOTAL EDADES,1.00
1,0-4,TOTAL,Ambos sexos,2019,2038663,0-4,8.86
2,5-9,TOTAL,Ambos sexos,2019,2355494,5-9,8.69
3,10-14,TOTAL,Ambos sexos,2019,2491371,10-14,8.60
4,15-19,TOTAL,Ambos sexos,2019,2322446,15-19,8.47
5,20-24,TOTAL,Ambos sexos,2019,2305303,20-24,8.22
6,25-29,TOTAL,Ambos sexos,2019,2566361,25-29,7.93
7,30-34,TOTAL,Ambos sexos,2019,2860390,30-34,7.61
8,35-39,TOTAL,Ambos sexos,2019,3492600,35-39,7.15
9,40-44,TOTAL,Ambos sexos,2019,4013566,40-44,6.59
10,45-49,TOTAL,Ambos sexos,2019,3818921,45-49,6.04
11,50-54,TOTAL,Ambos sexos,2019,3637840,50-54,5.37
12,55-59,TOTAL,Ambos sexos,2019,3266949,55-59,4.55
13,60-64,TOTAL,Ambos sexos,2019,2799111,60-64,3.72
14,65-69,TOTAL,Ambos sexos,2019,2398795,65-69,2.96
15,70-74,TOTAL,Ambos sexos,2019,2175840,70-74,2.21
16,75-79,TOTAL,Ambos sexos,2019,1618039,75-79,1.52
17,80-84,TOTAL,Ambos sexos,2019,1353814,80-84,0.91
18,85-89,TOTAL,Ambos sexos,2019,975247,85-89,0.44
19,90-94,TOTAL,Ambos sexos,2019,415548,90-94,0.15
20,95-99,TOTAL,Ambos sexos,2019,103607,95-99,0.04
21,100 y mÃ¡s,TOTAL,Ambos sexos,2019,16303,100 y mÃ¡s,1.00

In [43]:
df2_2019_tasa['product'] = df2_2019_tasa['total'] * df2_2019_tasa['tasa']

df2_2019_tasa

,age,spanish/foreign,sex,year,total,age,tasa,product
0,TOTAL EDADES,TOTAL,Ambos sexos,2019,47026208,TOTAL EDADES,1.00,47026208.00
1,0-4,TOTAL,Ambos sexos,2019,2038663,0-4,8.86,18062554.18
2,5-9,TOTAL,Ambos sexos,2019,2355494,5-9,8.69,20469242.86
3,10-14,TOTAL,Ambos sexos,2019,2491371,10-14,8.60,21425790.60
4,15-19,TOTAL,Ambos sexos,2019,2322446,15-19,8.47,19671117.62
5,20-24,TOTAL,Ambos sexos,2019,2305303,20-24,8.22,18949590.66
6,25-29,TOTAL,Ambos sexos,2019,2566361,25-29,7.93,20351242.73
7,30-34,TOTAL,Ambos sexos,2019,2860390,30-34,7.61,21767567.90
8,35-39,TOTAL,Ambos sexos,2019,3492600,35-39,7.15,24972090.00
9,40-44,TOTAL,Ambos sexos,2019,4013566,40-44,6.59,26449399.94
10,45-49,TOTAL,Ambos sexos,2019,3818921,45-49,6.04,23066282.84
11,50-54,TOTAL,Ambos sexos,2019,3637840,50-54,5.37,19535200.80
12,55-59,TOTAL,Ambos sexos,2019,3266949,55-59,4.55,14864617.95
13,60-64,TOTAL,Ambos sexos,2019,2799111,60-64,3.72,10412692.92
14,65-69,TOTAL,Ambos sexos,2019,2398795,65-69,2.96,7100433.20
15,70-74,TOTAL,Ambos sexos,2019,2175840,70-74,2.21,4808606.40
16,75-79,TOTAL,Ambos sexos,2019,1618039,75-79,1.52,2459419.28
17,80-84,TOTAL,Ambos sexos,2019,1353814,80-84,0.91,1231970.74
18,85-89,TOTAL,Ambos sexos,2019,975247,85-89,0.44,429108.68
19,90-94,TOTAL,Ambos sexos,2019,415548,90-94,0.15,62332.20
20,95-99,TOTAL,Ambos sexos,2019,103607,95-99,0.04,4144.28
21,100 y mÃ¡s,TOTAL,Ambos sexos,2019,16303,100 y mÃ¡s,1.00,16303.00